*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
svg {
    color: grey;
}
.contact-header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.contact-header .information {
    width: 40%;
    justify-content: space-evenly;
    display: flex;
}
.contact-header .information .info {
    display: flex;
    letter-spacing: 2px;
}
.contact-header .social {
    width: 20%;
    display: flex;
    gap: 5%;
    justify-content: center;
}
.header {
    background-color: rgb(46, 46, 46);
    color: white;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    height: 100px;
    font-size: 18px;
}
.header .list {
    display: none;
}
.header .close-icon {
    display: none;
}
.header .logo {
    width: 10%;
}
.header .lang {
    width: 10%;
}
.header .buttons {
    width: 60%;
    display: flex;
    justify-content: center;
}
.header .buttons ul {
    display: flex;
    width: 100%;
    justify-content: center;
    gap: 4%;
    list-style: none;
}
.header .buttons ul li a {
    color: white;
    text-decoration: none;
    transition: .3s;
}
.header .buttons ul li a:hover {
    color: grey;
    text-decoration: underline;
}
.header .lang .option {
    background-color: transparent;
    color: white;
    border: none;
}
.body-page {
    width: 100%;
    margin-top: 20px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.card{
    height: 500px;
    width: 35%;
    overflow: scroll;
    margin-top: 20px;
    box-shadow: 10px 10px 10px 0 #ddd;
}
.card img {
    width: 100%;
    height: 80%;
    object-fit: fill;
}
.card .desc {
    color: grey;
}
.card .sale {
    text-decoration: line-through;
    color: grey;
}
.footer {
    height: 400px;
    bottom: 0;
    background-color: black;
    color: grey;
    margin-top: 20px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.footer .about-us {
    padding-top: 20px;
    height: 100%;
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 50px;
}
.footer .about-us h3 {
    color: white;
    text-transform: uppercase;
}
.footer .about-us p {
    font-size: 18px;
    line-height: 30px;
}
.footer .contact {
    padding-top: 20px;
    height: 100%;
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: start;
}
.footer .contact .contact-us {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: start;
}
.footer .contact .contact-us h3 {
    color: white;
    text-transform: uppercase;
}
.footer .contact .contact-us .items {
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
}
.footer .contact .follow-us {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: start;
    gap: 20px;
}
.footer .contact .follow-us h3 {
    text-transform: uppercase;
    color: white;
}
.footer .contact .follow-us a {
    color: grey;
    width: fit-content;
    text-decoration: none;
}
.footer .send-message {
    padding-top: 20px;
    display: flex;
    height: 100%;
    width: 30%;
    flex-direction: column;
    justify-content: start;
    gap: 20px;
}
.footer .send-message h3 {
    color: white;
    text-transform: uppercase;
}
.footer .send-message .inputs {
    display: flex;
    height: 80%;
    flex-direction: column;
    justify-content: start;
    gap: 20px;
}
.footer .send-message .inputs input {
    border-radius: 3px;
    height: 40%;
    padding-left: 5px;
    outline: none;
    border: none;
}
.footer .send-message .inputs .msg {
    height: 100%;
}
.footer .send-message .inputs .button {
    width: 30%;
    background-color: transparent;
    color: grey;
    cursor: pointer;
    border: 2px solid grey;
    padding: 2px 0 2px 0;
    transition: .3s;
}
.footer .send-message .inputs .button:hover {
    background-color: grey;
    color: black;
}
@media (max-width: 768px) {
    .container {
        display: flex;
        flex-direction: column;
    }
    .contact-header {
        margin-top: 1px;
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    .contact-header .information {
        width: 100%;
    }
    .contact-header .social {
        width: 100%;
        margin-top: 3px;
        margin-bottom: 3px;
    }
    .header .list {
        display: block;
        cursor: pointer;
    }
    .header .buttons {
        display: none;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .header .buttons ul {
        display: flex;
        height: 100%;
        flex-direction: column;
        background-color: grey;
        opacity: 0.9;
    }
    .header .close-icon {
        display: none;
        position: absolute;
        z-index: 1;
        cursor: pointer;
    }
    .body-page .card {
        width: 45%;
        margin: 5px;
        height: 300px;
        overflow: scroll;
    }
    .footer {
        padding-left: 20px;
        display: flex;
        width: 100%;
        height: 100%;
        flex-direction: column;
    }
    .footer .about-us {
        width: 80%;
    }
    .footer .contact {
        width: 80%;
    }
    .footer .contact .contact-us {
        width: 100%;
        margin-bottom: 20px;
    }
    .footer .contact .contact-us h3 {
        margin-bottom: 20px;
    }
    .footer .send-message {
        width: 70%;
    }
    .footer .send-message .inputs {
        width: 100%;
    }
    .footer .send-message .inputs input {
        width: 100%;
        padding: 15px ;
    }
    .footer .send-message .inputs .msg {
        padding-bottom: 100px ;
    }
    .footer .send-message .inputs .button {
        padding: 10px;
        margin-bottom: 50px;
    }
}
